
.jumbotron {    
    background-color: rgba(121, 24, 24, 0.938);
    color: white;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.card {
    margin: auto;
    width: 75%; 
    margin-bottom: 15px;   
}

.card-header {
    font-weight: bold;
    color: white;
    letter-spacing: 1px;    
    background-color: rgb(85, 85, 250);
}